<div class="example_block">
  <p>{{ message }}</p>
  <div class="post">
    <div v-if="loading" class="loading">Loading...</div>

    <div v-for="post in posts" v-if="posts">
      <div class="id">{{ post.id }}</div>
      <div class="title">{{ post.title }}</div>
      <div class="body">{{ post.body }}</div>
    </div>
  </div>
</div>
